<html>
<head></head>

<body>

<h2>Add New Grocery Item</h2>

<!-- add code to create a form which will allow users to add a new grocery item -->
<form action="/groceryitems" method="post">
  <input type="text" name="item" value="">
  <input type="text" name="quantity" value="">
  <input type="text" name="price" value="">

  <input type="hidden" name="shoppingListId" value="{{shoppingListId}}" />
  <input type="submit" name="" value="Submit">
</form>



</body>

</html>